*{
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    height: auto;
    background: url(bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:hsl(193, 100%, 96%) ;

}
.wrapper{
padding: 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    background: url(logo.svg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.button{
    margin-right: 1rem;
}
#try{
    padding: 1rem 4rem;
    box-sizing: border-box;
    border: whitesmoke;
    background-color: white;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    box-shadow: 2px 2px 10px 2px whitesmoke;
}
#head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: hsl(192, 100%, 9%);
}
#tail{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:hsl(192, 100%, 9%);
    margin-right: 6rem;
}
#free{
    padding: 1rem 4rem;
    box-sizing: border-box;
    border: hsl(322, 97%, 49%);
    background-color:hsl(322, 100%, 66%) ;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: whitesmoke;
}

.container2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left1{
    width: 50%;
}
.mockup{
    width: 100%;
}
.right1{
    width: 50%;
    margin-top:-5rem ;

}
.table{
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;
}


.container3{
    margin-top: 2rem;
    padding: 4rem;
}
.container4{
    margin-top: 2rem;
    padding: 4rem;
}
.grow, .users{
    width: 50%;
    /* margin: 8rem 6rem; */
margin: auto;
}
.flow{
    width: 50%;
    margin: auto;
    /* margin-top: 10rem;
    margin-right: 2rem; */
}
.pic1,.pic2, .pic3{
    width: 30%;
    /* padding-top: 30px; */
    /* margin-left: 5rem; */
    height: auto;
    /* margin: auto; */

}
.img{
    width: 90%;
    /* margin: auto; */
    height: auto;
    margin-left: 5rem;
    margin: auto;
}
.tab-grow, .tab-flow, .tab-users{
    box-sizing: border-box;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    box-shadow:2px 2px 10px 2px whitesmoke;
}

#big{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: hsl(192, 100%, 9%);
    
}
#small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(208, 11%, 55%);
}

.build{
    box-sizing: border-box;
    height: 300px;
    width: 60%;
    border-radius: 20px;
    z-index: 10;
    -webkit-box-shadow: 2px 1px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 17px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 1px 17px -8px rgba(0, 0, 0, 0.75);
    border: none;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: hsl(192, 100%, 9%);
    position: relative;
    top: 11rem;
    z-index: 10;
    margin-top: -10rem;
}
#build{
    padding: 1.5rem 4rem;
    box-sizing: border-box;
    border: hsl(322, 97%, 49%);
    background-color:hsl(322, 100%, 74%) ;
    box-shadow: 0 4px whitesmoke;
    border-radius: 50px;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: whitesmoke;
}



.logos{
    padding: 10rem 3rem;
}
#footer-logo{
    fill: whitesmoke;

}
.footer-logo{
    margin: 1.9rem;
}
footer{
    background-color: hsl(192, 100%, 9%);
    
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #f4f4f4;
    /* margin-right: 3rem; */
}
.content{
    width: 30%;
}
.item{
    width: 15%;
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    color: #f4f4f4;
}

.socials{
    width: 20%;
    display: flex;

}
.social-items{
    margin-right: 10px;
}
.icon{
    margin-right: 15px;
    height: auto;
    width: auto;
}
.icons{
    color: #f4f4f4;
    line-height: 1.5 ;
    display: flex;
    margin-bottom: 1rem;
}
.icon-text{
    margin-bottom: 1rem;
}
span{
    text-align: left;
}

a{
    color: whitesmoke;
    text-decoration: none;
}
.attribution{
    margin-top: 2rem;
    float: right;
    font-size: 12px;  
    color: whitesmoke;
}
.attribution a { color: whitesmoke; }
@media screen and (max-width:770px){
.container1{
        width: 100%;
        height: auto;
        background: url(bg-hero-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color:hsl(193, 100%, 96%) ;
}
.container2{
    /* flex-direction: column; */
    text-align: center;
}
.wrapper{padding: 1rem;}
.logo{
    background: url(logo.svg);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button{
    margin-right: 0.5rem;
}
#try{
    padding: 0.3rem 1.5rem;
    box-sizing: border-box;
    border: whitesmoke;
    background-color: white;
    border-radius: 20px;
}
#head{
    font-size: 25px;
}
#tail{
    margin-top: 2rem;
    margin-right: auto;
}
#free{
    padding: 0.7rem 3.5rem;
}
.left1{
    width: 100%;

}
.right1{
    width: 90%;
    margin: auto;
}
.pic1,.pic2, .pic3{
    width: 90%;
    margin: auto;
}
.img{
    width: 100%;
    height: auto;
    margin: auto;
}
.container3{
    margin-top: 2rem;
    padding: 1rem;
}
.container4{
    margin-top: 2rem;
    padding: 1rem;
}
.build{
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    padding:2rem ;
    font-size: 12px;
    top: 5rem;
    z-index: 10;
    margin-top: -3rem;
}
#build{
    padding: 0.8rem 3rem;
    box-sizing: border-box;
    border: hsl(322, 97%, 49%);
    background-color:hsl(322, 100%, 74%) ;
    box-shadow:4px 4px 10px 4px whitesmoke;
    border-radius: 50px;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: whitesmoke;
}
.your{
    margin: auto;
    width: auto;
}
.tab-grow, .tab-users{
    display: flex;
    flex-direction: column-reverse;
}
.tab-flow{
    display: flex;
    flex-direction: column;
}
.tab-grow, .tab-flow, .tab-users{
    height: auto;
}
.grow, .users, .flow{
    width: auto;
    margin: 5px;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 1rem;

}
#big{
    font-size: 20px;
}
#small{
    font-size: 15px;
}


.footer-logo{
    margin: 10px;
}
.logos{
    padding: 4rem 0rem;
}
.footer{
    display: flex;
    margin: 20px;
    flex-direction: column;
}
.content, .item, .socials{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.socials{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: auto;
    margin-top: 2rem;
    margin-bottom: auto;
}
.attribution{
    text-align: center;
    float: none;
}

}
